		{
			module: 'MMM-Serial-Notifications',
			config: {
				devices: {
					'/dev/ard_nano_2': {
						messages: {
							'Gesture: RIGHT': [
								{
									notification: 'VOLUME_UP',
									payload: {
										upDownScale: 5
									}
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'Gesture: LEFT': [
								{
									notification: 'VOLUME_DOWN',
									payload: {
										upDownScale: 8
									}
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'Gesture: UP': [
								{
									notification: 'VOLUME_TOGGLE',
									payload: {
										faded: true,
									}
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'Gesture: DOWN': [
								{
									notification: 'VOLUME_TOGGLE',
									payload: {
										faded: false,
									}
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'VL53L0X4: HIT': [
								{
									notification: 'SPOTIFY_REPEAT'
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'VL53L0X3: HIT': [
								{
									notification: 'SPOTIFY_SHUFFLE'
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'VL53L0X2: HIT': [
								{
									notification: 'SPOTIFY_NEXT'
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'VL53L0X1: HIT': [
								{
									notification: 'SPOTIFY_TOGGLE'
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'VL53L0X0: HIT': [
								{
									notification: 'SPOTIFY_PREVIOUS'
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							//'AmbientLight: ': [
							//	{
							//		notification: 'AMBIENT_LIGHT',
							//		payloadReplacement: '###VALUE###',
							//		replacementPrefix: 'AmbientLight: ',
							//		payload: {
							//			value: '###VALUE###'
							//		}
							//	}
							//]
						}
					},
					// '/dev/ard_nano_1': {
					// 	messages: {
					// 		'Gesture: RIGHT': [
					// 			{
					// 				notification: 'VOLUME_UP',
					// 				payload: {
					// 					upDownScale: 5
					// 				}
					// 			},
					// 			{
					// 				notification: 'USER_PRESENCE',
					// 				payload: true
					// 			}
					// 		],
					// 		'Gesture: LEFT': [
					// 			{
					// 				notification: 'VOLUME_DOWN',
					// 				payload: {
					// 					upDownScale: 8
					// 				}
					// 			},
					// 			{
					// 				notification: 'USER_PRESENCE',
					// 				payload: true
					// 			}
					// 		],
					// 		'Gesture: UP': [
					// 			{
					// 				notification: 'SPOTIFY_SHUFFLE'
					// 			},
					// 			{
					// 				notification: 'USER_PRESENCE',
					// 				payload: true
					// 			}
					// 		],
					// 		'Gesture: DOWN': [
					// 			{
					// 				notification: 'SPOTIFY_REPEAT'
					// 			},
					// 			{
					// 				notification: 'USER_PRESENCE',
					// 				payload: true
					// 			}
					// 		],
					// 		'VL53L0X0: HIT': [
					// 			{
					// 				notification: 'SPOTIFY_NEXT'
					// 			},
					// 			{
					// 				notification: 'USER_PRESENCE',
					// 				payload: true
					// 			}
					// 		],
					// 		'VL53L0X1: HIT': [
					// 			{
					// 				notification: 'SPOTIFY_TOGGLE'
					// 			},
					// 			{
					// 				notification: 'USER_PRESENCE',
					// 				payload: true
					// 			}
					// 		],
					// 		'VL53L0X2: HIT': [
					// 			{
					// 				notification: 'SPOTIFY_PREVIOUS'
					// 			},
					// 			{
					// 				notification: 'USER_PRESENCE',
					// 				payload: true
					// 			}
					// 		],
					// 	}
					// }
				}
			}
		},