		{
			module: 'MMM-Serial-Notifications',
			config: {
				devices: {
					'/dev/ard_nano_1': {
						messages: {
							'Gesture: RIGHT': [
								{
									notification: 'VOLUME_UP',
									payload: {
										upDownScale: 5
									}
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'Gesture: LEFT': [
								{
									notification: 'VOLUME_DOWN',
									payload: {
										upDownScale: 8
									}
								},
								{
									notification: 'USER_PRESENCE',
									payload: true
								}
							],
							'VL53L1X0: HIT': [
								{
									notification: 'SCREEN_TOGGLE',
									payload: {
										forced: true
									}
								}
							],
							'VL53L1X2: HIT': [
								{
									notification: 'VOLUME_TOGGLE',
									payload: {
										faded: true,
										upDownScale: 8
									}
								}
							],
							'AmbientLight: ': [
								{
									notification: 'AMBIENT_LIGHT',
									payloadReplacement: '###VALUE###',
									replacementPrefix: 'AmbientLight: ',
									payload: {
										value: '###VALUE###'
									}
								}
							]
						}
					},
//					'/dev/ard_nano_2': {
//						messages: {
//							'VL53L1X2: HIT': [
//								{
//									notification: 'USER_PRESENCE'
//								}
//							]
//						}
//					}
				}
			}
		},
